<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/font-awesome-4.2.0/css/font-awesome.min.css"

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- local js file -->
    <script src="js/app.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- native app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app='toEat' ng-controller="ToeatCtrl">

    <ion-side-menus>
      {% raw %}
        <!-- center content -->
        <ion-side-menu-content>
          <ion-header-bar class="bar-dark">
            <button class="button button-icon" ng-click="toggleDays()">
              <i class="icon ion-navicon"></i>
            </button>
            <h1 class="title">ToEat {{activeDay.date}}</h1>
            <!-- new task button -->
            <button class="button button-icon" ng-click="newTask()">
              <i class="icon ion-compose"></i>
            </button>
          </ion-header-bar>
          <ion-content scroll="false">
            <ion-list>
              <ion-item ng-repeat="task in activeDay.tasks" ng-style="{'background-color':task.colour['name']}">
                {{task.title}}
                <span class="checkbox-wrapper" ng-click="completeTask(task, $event)" my-change>
                  <i ng-if="!task.done" class="fa fa-square-o" id="{{task.id}}"></i>
                  <i ng-if="task.done" class="fa fa-check-square-o" id="{{task.id"}}></i>
                </span>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu-content>

        <!-- left menu -->
        <ion-side-menu side='left'>
          <ion-header-bar class="bar-dark">
            <h1 class="title">Days</h1>
            <button class="button button-icon ion-plus" ng-click="newDay()">
            </button>
          </ion-header-bar>
          <ion-content scroll="false">
            <ion-list>
              <ion-item ng-repeat="day in days" ng-click="selectDay(day, $index)" ng-class="{active : activeDay == day}">
                {{day.date}}
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>

    </ion-side-menus>

    <!-- new task modal -->
    <script id="new-task.html" type="text/ng-template">
      <div class="modal">
        <!-- modal header -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Task</h1>
          <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
        </ion-header-bar>

        <!-- modal content -->
        <ion-content>
          <form ng-submit="createTask(task)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="What do you need to do?" ng-model="task.title">
              </label>
              <label class="item item-input">
                <select ng-model="task.colour" ng-options="colour.foodGroup for colour in colours"></select>
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Task</button>
            </div>
          </form>
        </ion-content>
      </div>
    </script>

    <!-- new day modal -->
    <script id="new-day.html" type="text/ng-template">
      <div class="modal">
        <!-- header -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Day</h1>
        </ion-header-bar>
      </div>
    </script>

  </body>
</html>
